<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Configuration</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body>
        <div class="viewer">
            <div class="menubar">
                <div class="img-wrap">
                    <img src="../static/FTI-logo.png" alt="FTI Logo" width="38px" height="38px" />
                </div>
            </div>

            <div class="content">
                <div class="sidebar">Side bar</div>
                <div class="page">
                    <div class="block-header">
                        <span class="block-title">CONFIGURATION / </span>
                        <span class="block-subtitle">Specify model inputs and assumptions</span>
                    </div>
                    <div class="block">
                        <div class="input-section">
                            <span class="section-title">Company information</span>
                            <div class="input-field">
                                <span class="field-label">Project name</span>
                                <input type="text" class="text-field-lg" placeholder="e.g. Project Alpha" />
                            </div>
                            <div class="input-field">
                                <span class="field-label">Company name</span>
                                <input type="text" class="text-field-lg" placeholder="e.g. FTI Consulting" />
                            </div>
                            <div class="input-field">
                                <span class="field-label">Capital IQ identifier</span>
                                <input type="text" class="text-field-sm" placeholder="e.g. IQ28754" />
                            </div>
                        </div>
                        <div class="input-section">
                            <span class="section-title">Valuation inputs</span>
                            <div class="input-field">
                                <span class="field-label">Valuation date</span>
                                <input type="date" class="date-field" />
                            </div>
                            <div class="input-field">
                                <span class="field-label">Explicit forecast period</span>
                                <input type="number" class="number-field" min="2" max="10" placeholder="3" />
                            </div>
                            <div class="input-field">
                                <span class="field-label">Financial year end</span>
                                <input type="date" id="date-month-only" class="date-field" />
                            </div>
                            <div class="input-field">
                                <span class="field-label">Forecasting model</span>
                                <select class="select-field">
                                    <option value="2">Two-period model</option>
                                    <option value="3">Three-period model</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var year = 9999;
            document.getElementById("date-month-only").setAttribute("min", year + "-01-01");
            document.getElementById("date-month-only").setAttribute("max", year + "-12-31");
        </script>
    </body>
</html>
