<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Configuration</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/main.css" />
    </head>

    <body>
        <div class="viewer">
            <div class="menubar">
                <div class="img-wrap">
                    <img src="../static/FTI-logo.png" alt="FTI Logo" width="38px" height="38px" />
                </div>
            </div>

            <div class="content">
                <div class="sidebar">Side bar</div>
                <div class="page">
                    <div class="block-header">
                        <span class="block-title">CONFIGURATION / </span>
                        <span class="block-subtitle">Specify model inputs and assumptions</span>
                    </div>
                    <div class="block">
                        <span class="section-title">Company information</span>
                        <div class="input-field">
                            <span class="field-label">Project name</span>
                            <input class="text-field" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
